@font-face {
  font-family: 'Hind';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/hind/v16/5aU19_a8oxmIfMJaIRs.ttf) format('truetype');
}
@font-face {
  font-family: 'Hind';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/hind/v16/5aU69_a8oxmIRG4.ttf) format('truetype');
}
@font-face {
  font-family: 'Hind';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/hind/v16/5aU19_a8oxmIfJpbIRs.ttf) format('truetype');
}
@font-face {
  font-family: 'Hind';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/hind/v16/5aU19_a8oxmIfLZcIRs.ttf) format('truetype');
}
@font-face {
  font-family: 'Hind';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/hind/v16/5aU19_a8oxmIfNJdIRs.ttf) format('truetype');
}
:root {
  --ii-blue: hsl(220, 100%, 50%);
  --ii-indigo: #6610f2;
  --ii-purple: #6f42c1;
  --ii-pink: #d63384;
  --ii-red: hsl(0, 65%, 50%);
  --ii-orange: #fd7e14;
  --ii-yellow: hsl(45, 95%, 50%);
  --ii-green: hsl(125, 55%, 50%);
  --ii-teal: #20c997;
  --ii-cyan: #0dcaf0;
  --ii-black: hsl(0, 0%, 0%);
  --ii-white: hsl(0, 0%, 100%);
  --ii-gray: hsl(220, 10%, 45%);
  --ii-gray-dark: hsl(220, 10%, 15%);
  --ii-gray-50: hsl(220, 10%, 97%);
  --ii-gray-100: hsl(220, 10%, 92%);
  --ii-gray-200: hsl(220, 10%, 80%);
  --ii-gray-250: hsl(220, 10%, 75%);
  --ii-gray-300: hsl(220, 10%, 70%);
  --ii-gray-350: hsl(220, 10%, 65%);
  --ii-gray-400: hsl(220, 10%, 60%);
  --ii-gray-450: hsl(220, 10%, 55%);
  --ii-gray-500: hsl(220, 10%, 50%);
  --ii-gray-550: hsl(220, 10%, 45%);
  --ii-gray-600: hsl(220, 10%, 40%);
  --ii-gray-650: hsl(220, 10%, 35%);
  --ii-gray-700: hsl(220, 10%, 30%);
  --ii-gray-750: hsl(220, 10%, 25%);
  --ii-gray-800: hsl(220, 10%, 20%);
  --ii-gray-850: hsl(220, 10%, 15%);
  --ii-gray-900: hsl(220, 10%, 10%);
  --ii-gray-950: hsl(220, 10%, 5%);
  --ii-primary: #ffdd00;
  --ii-secondary: #d8573f;
  --ii-success: hsl(125, 55%, 50%);
  --ii-info: hsl(220, 100%, 50%);
  --ii-warning: hsl(45, 95%, 50%);
  --ii-danger: hsl(0, 65%, 50%);
  --ii-light: hsl(220, 10%, 97%);
  --ii-dark: hsl(220, 10%, 87%);
  --ii-primary-rgb: 0, 85, 255;
  --ii-secondary-rgb: 249, 188, 6;
  --ii-success-rgb: 57, 198, 69;
  --ii-info-rgb: 0, 85, 255;
  --ii-warning-rgb: 249, 188, 6;
  --ii-danger-rgb: 210, 45, 45;
  --ii-light-rgb: 247, 247, 248;
  --ii-dark-rgb: 219, 221, 225;
  --ii-primary-text-emphasis: #002266;
  --ii-secondary-text-emphasis: #644b02;
  --ii-success-text-emphasis: #174f1c;
  --ii-info-text-emphasis: #002266;
  --ii-warning-text-emphasis: #644b02;
  --ii-danger-text-emphasis: #541212;
  --ii-light-text-emphasis: hsl(220, 10%, 35%);
  --ii-dark-text-emphasis: hsl(220, 10%, 35%);
  --ii-primary-bg-subtle: #ecf2ff;
  --ii-secondary-bg-subtle: #fffaec;
  --ii-success-bg-subtle: #f0fbf1;
  --ii-info-bg-subtle: #ecf2ff;
  --ii-warning-bg-subtle: #fffaec;
  --ii-danger-bg-subtle: #fcefef;
  --ii-light-bg-subtle: #fbfbfc;
  --ii-dark-bg-subtle: hsl(220, 10%, 75%);
  --ii-primary-border-subtle: #b3ccff;
  --ii-secondary-border-subtle: #fdebb4;
  --ii-success-border-subtle: #c4eec7;
  --ii-info-border-subtle: #b3ccff;
  --ii-warning-border-subtle: #fdebb4;
  --ii-danger-border-subtle: #f2c0c0;
  --ii-light-border-subtle: hsl(220, 10%, 92%);
  --ii-dark-border-subtle: hsl(220, 10%, 75%);
  --ii-white-rgb: 255, 255, 255;
  --ii-black-rgb: 0, 0, 0;
  --ii-font-sans-serif: "Inter", sans-serif;
  --ii-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --ii-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --ii-body-font-family: var(--ii-font-sans-serif);
  --ii-body-font-size: 0.875rem;
  --ii-body-font-weight: 380;
  --ii-body-line-height: 1.5;
  --ii-body-color: hsl(220, 10%, 15%);
  --ii-body-color-rgb: 34, 37, 42;
  --ii-body-bg: hsl(0, 0%, 100%);
  --ii-body-bg-rgb: 255, 255, 255;
  --ii-emphasis-color: hsl(0, 0%, 0%);
  --ii-emphasis-color-rgb: 0, 0, 0;
  --ii-secondary-color: hsl(220, 10%, 45%);
  --ii-secondary-color-rgb: 103, 111, 126;
  --ii-secondary-bg: hsl(220, 10%, 87%);
  --ii-secondary-bg-rgb: 219, 221, 225;
  --ii-tertiary-color: hsl(220, 10%, 75%);
  --ii-tertiary-color-rgb: 185, 189, 198;
  --ii-tertiary-bg: hsl(220, 10%, 97%);
  --ii-tertiary-bg-rgb: 247, 247, 248;
  --ii-heading-color: inherit;
  --ii-link-color: hsl(220, 100%, 50%);
  --ii-link-color-rgb: 0, 85, 255;
  --ii-link-decoration: none;
  --ii-link-hover-color: #0044cc;
  --ii-link-hover-color-rgb: 0, 68, 204;
  --ii-code-color: hsl(220, 100%, 50%);
  --ii-highlight-color: hsl(220, 10%, 15%);
  --ii-highlight-bg: #fef2cd;
  --ii-border-width: 1px;
  --ii-border-style: solid;
  --ii-border-color: hsl(220, 10%, 92%);
  --ii-border-color-translucent: rgba(0, 0, 0, 0.05);
  --ii-border-radius: 0.5rem;
  --ii-border-radius-sm: 0.25rem;
  --ii-border-radius-lg: 0.75rem;
  --ii-border-radius-xl: 1rem;
  --ii-border-radius-xxl: 2rem;
  --ii-border-radius-2xl: var(--ii-border-radius-xxl);
  --ii-border-radius-pill: 50rem;
  --ii-box-shadow: 0 0.15rem 0.75rem rgba(0, 0, 0, 0.2);
  --ii-box-shadow-sm: 0 0.075rem 0.375rem rgba(0, 0, 0, 0.15);
  --ii-box-shadow-lg: 0 0.3rem 1.5rem rgba(0, 0, 0, 0.25);
  --ii-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  --ii-focus-ring-width: 0.25rem;
  --ii-focus-ring-opacity: 0.15;
  --ii-focus-ring-color: rgba(0, 85, 255, 0.15);
  --ii-form-valid-color: hsl(125, 55%, 50%);
  --ii-form-valid-border-color: hsl(125, 55%, 50%);
  --ii-form-invalid-color: hsl(0, 65%, 50%);
  --ii-form-invalid-border-color: hsl(0, 65%, 50%);
  --body-color: #faf8f0;
  --body-accent-color: #faf8f0;
  --primary-color: #ffdd00;
  --secondary-color: #d8573f;
  --tertiary-color: #51cbff;
  --color-light: #ffffff;
  --light-background: #faf8f0;
  --dark-background: #222222;
  --body-font-color: #333333;
  --dark-border-color: #333333;
  --heading-color: #000000;
  --sub-heading-color: #717171;
  --hightlight-font-color: #d8573f;
  --dark-font-color: #000000;
  --light-font-color: #ffffff;
  --body-font: "Montserrat", sans-serif;
  --heading-font: "Hind", serif;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--body-color);
}
body section {
  width: 100%;
}
body ul {
  padding: 0;
  margin: 0;
}
body li {
  list-style: none;
}
body a {
  text-decoration: none;
  color: var(--ii-secondary);
}
body .img-fluid {
  width: 100%;
}
header section.header-main {
  width: 100%;
  padding: 0.938rem 0rem;
  box-shadow: 0px 3px 6px -6px rgba(0, 0, 0, 0.3);
}
header section.header-main .fluid-container {
  padding: 0rem 2.5rem;
}
header section.header-main .fluid-container .header-blocks {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header section.header-main .fluid-container .header-blocks ul li {
  display: inline-block;
  list-style: none;
}
header section.header-main .fluid-container .header-blocks ul li a {
  padding: 0 1rem;
  font-size: 1rem;
  font-weight: 600;
  color: var(--heading-color);
  font-family: var(--heading-font);
}
header section.header-main .fluid-container .header-blocks .menu-block {
  width: 33.3%;
  display: flex;
  justify-content: start;
}
header section.header-main .fluid-container .header-blocks .menu-block ul {
  display: flex;
  align-items: center;
}
header section.header-main .fluid-container .header-blocks .menu-block ul li:first-child {
  margin-right: 20px;
}
header section.header-main .fluid-container .header-blocks .menu-block ul li span img {
  cursor: pointer;
}
header section.header-main .fluid-container .header-blocks .brand {
  width: 33.3%;
  display: flex;
  justify-content: center;
}
header section.header-main .fluid-container .header-blocks .brand img {
  max-width: 130px;
}
header section.header-main .fluid-container .header-blocks .action-block {
  width: 33.3%;
  display: flex;
  justify-content: end;
}
header section.header-main .fluid-container .header-blocks .action-block .auth-action {
  display: flex;
  align-items: center;
  gap: 20px;
}
header section.header-main .fluid-container .header-blocks .action-block .auth-action button {
  padding: 12px 25px;
  font-size: 0.9rem;
  font-weight: 600;
  background: transparent;
  box-shadow: none;
  border-style: solid;
}
header section.header-main .fluid-container .header-blocks .action-block .auth-action button.btn-round {
  border-radius: 25px;
}
header section.header-main .fluid-container .header-blocks .action-block .auth-action button.btn-outline {
  border: 2px solid var(--dark-border-color);
}
header section.header-main .fluid-container .header-blocks .action-block .auth-action button.btn-fill {
  background: var(--ii-primary);
  border-color: var(--ii-primary);
}
main {
  position: relative;
  display: flex;
}
main aside {
  position: fixed;
  top: 72px;
  left: 0;
  height: 100vh;
  display: none;
  flex-direction: column;
  width: 245px;
  background-color: var(--color-light);
  box-shadow: 4px 0px 13px -12px rgba(0, 0, 0, 0.3);
}
main aside #asideProfile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 20px 10px 40px;
  background-color: var(--body-accent-color);
}
main aside #asideProfile .profilePicture {
  background-color: var(--secondary-color);
  border-radius: 100%;
  width: 40px;
  height: 40px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}
main aside #asideProfile #personalInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-family: var(--heading-font);
}
main aside #asideProfile #personalInfo #personal {
  font-size: 14px;
  font-weight: 600;
  padding: 4px 15px 0 15px;
}
main aside #asideProfile #personalInfo #personalDetail {
  font-size: 13px;
  padding: 4px 15px;
}
main aside #asideProfile #personalInfo #personalDetail i {
  margin: 0 5px;
}
main aside .asideUl {
  margin-left: 13px;
  margin-top: 20px;
}
main aside .asideUl li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 20px;
  cursor: pointer;
  border-radius: 4px;
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 15px;
}
main aside .asideUl li:hover {
  background-color: #f7f7f7;
}
main aside .asideUl li svg {
  width: 40px;
}
main aside .asideUl li img {
  width: 28px;
  height: 28px;
  margin-right: 15px;
}
