body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--body-font);
    background-color: var(--body-bg);
    section {
        width: 100%;
    }

    ul {
        padding: 0;
        margin: 0;
    }

    li {
        list-style: none;
    }

    a {
        text-decoration: none;
        color: var(--ii-secondary);

        &:hover {
            color: var(--aceent0-color);
            text-decoration: none;
        }
    }

    .img-fluid {
        width: 100%;
    }

    .section-spacing {
        padding: 5rem 0rem;
    }
    .section-title {
        color: var(--light-font-color);
        & .sub-heading {
            font-weight: 500;
            margin-bottom: 10px;
            text-transform: uppercase;
            color: var(--aceent0-color);
        }
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--light-font-color);
    font-family: var(--heading-font);
    font-weight: 800;
}

h1 {
    font-size: var(--f1-font-size);
    margin-bottom: 20px;
}

h2 {
    font-size: var(--f2-font-size);
}

// animated button module
.custom-button {
    & button {
        padding: 12px 25px;
        font-size: 1rem;
        font-weight: 600;
        background: transparent;
        box-shadow: none;
        border-style: solid;
        position: relative;
        overflow: hidden;
        
        &.btn-round {
            border-radius: 25px;
        }

        &.btn-outliner {
            border: 2px solid var(--aceent0-color);
            color:var(--light-font-color);
            &:hover{
                background: var(--secondary-color);
                color:var(--light-font-color);
                border: 2px solid var(--aceent0-color);
            }
            &:after{
                background: var(--aceent0-color);
            }
        }

        &.btn-fill {
            background: var(--aceent0-color);
            color: var(--dark-font-color);
            border: 2px solid var(--aceent0-color);
        }
        &:hover{
            background: var(--primary-color);
            color:var(--dark-font-color);
            border: 2px solid var(--secondary-color);
        }
        &:after {
            content: '';
            position: absolute;
            right: -50px;
            bottom: -45px;
            -webkit-transition: all .7s ease;
            transition: all .7s ease;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            background-color: rgba(255, 255, 255, .4);
        }

        &:hover:after {
            width: 0px;
            height: 0px;
            -webkit-transition: all .7s ease;
            transition: all .7s ease;
        }
    }

    & button {
        &.secondary {
            background: transparent;
            border: 2px solid var(--dark-border-color);
            color:var(--dark-font-color) !important;
            &:hover{
                background: var(--secondary-color);
                border-color: var(--secondary-color);
                color: var(--light-font-color) !important;
              }
        }
    }

}

@media (min-width:1200px) {
    .container {
        max-width: 1400px;
    }
}


/*** 
=============================================
    Breadcrumb area style
=============================================
***/
.breadcrumb-area {
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 130px;
    padding-bottom: 120px;
    position: relative;
    z-index: 1;
}
.breadcrumb-area .breadcrumbs {}
.breadcrumb-area .breadcrumbs h1 {
    color: #ffffff;
    font-size: 48px;
    font-weight: 700;
    line-height: 50px;
    text-transform: capitalize;
    text-align: center;
}


/*** 
=============================================
    Breadcrumb area style
=============================================
***/
.breadcrumb-area {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 130px;
    padding-bottom: 120px;
    position: relative;
    z-index: 1;
    background: url(../assets/images/banner_right.png) no-repeat top right, url(../assets/images/banner_left.png) no-repeat center left;
    background-color: #f7f7f7;
    & .overlay-banner{
        // &:after{
        //     background: rgb(0 0 0 / 30%);
        //     content: '';
        //     width: 100%;
        //     height: 100%;
        //     position: absolute;
        //     top: 0;
        // }
    }
    & .breadcrumbs {
        h1 {
            color: var(--secondary-color);
            font-size: 48px;
            font-weight: 700;
            line-height: 50px;
            text-transform: capitalize;
            text-align: center;
        }
    }
}

/*** 
=============================================
    Breadcrumb bottom area style
=============================================
***/

.breadcrumb-bottom-area {
    position: relative;
    overflow: hidden;
    padding: 18px 0 15px;
    border-bottom: 1px solid var(--light-border);
    border-top: 1px solid var(--light-border);
    & .left {
        ul {
            li {
                display: inline-block;
                margin-right: 6px;
                line-height: 20px;
                font-size: 16px;
                font-weight: 400;
                font-family: 'Poppins', sans-serif;
                &:last-child {
                    margin-right: 0;
                }
                a{
                    color: #404040;
                    text-transform: capitalize;
                    font-family: 'Poppins', sans-serif;
                    transition: all 500ms ease;
                    &:hover {
                        color: var(--aceent0-color);
                    }
                }
                &.active{
                    color: var(--aceent0-color);    
                }
                i {
                    font-size: 16px;
                }

            }
        }
    }
    & .right {
        span {
            color: var(--secondary-color);
            font-size: 16px;
            font-weight: 400;
            font-family: 'Open Sans', sans-serif;
            text-transform: capitalize;
            transition: all 500ms ease;
            &:hover {
                color: var(--aceent0-color);
            }
            i {
                font-size: 16px;
                display: inline-block;
                padding-right: 6px;
            }
        }
        a {
            display: inline-block;
        }
    }
}

/*** 
=============================================
    pagination style css
=============================================
***/

/* Post pagination styles */
.post-pagination {
    li {
        display: inline-block;
        margin: 0 3px;
        &.active {
            a {
                background: var(--aceent0-color);
                color: var(--primary-color);
                border: 2px solid var(--aceent0-color);
            }
        }
        &:hover {
            a {
                background: var(--aceent0-color);
                color: var(--primary-color);
                border: 2px solid var(--aceent0-color);
            }
        }
        a {
            background: var(--primary-color) none repeat scroll 0 0;
            border: 2px solid var(--light-border);
            color: var(--secondary-color);
            display: block;
            font-size: 18px;
            font-weight: 600;
            height: 55px;
            padding: 14px 0;
            transition: all 500ms ease 0s;
            width: 55px;
            border-radius: 50%;
           
        }
    }
}
