// theme variables
:root{
	--bs-blue: hsl(220, 100%, 50%);
	--bs-indigo: #6610f2;
	--bs-purple: #6f42c1;
	--bs-pink: #d63384;
	--bs-red: hsl(0, 65%, 50%);
	--bs-orange: #fd7e14;
	--bs-yellow: hsl(45, 95%, 50%);
	--bs-green: hsl(125, 55%, 50%);
	--bs-teal: #20c997;
	--bs-cyan: #0dcaf0;
	--bs-black: hsl(220, 10%, 0%);
	--bs-white: hsl(220, 10%, 100%);
	--bs-gray: hsl(220, 10%, 45%);
	--bs-gray-dark: hsl(220, 10%, 15%);
	--bs-gray-50: hsl(220, 10%, 97%);
	--bs-gray-100: hsl(220, 10%, 92%);
	--bs-gray-200: hsl(220, 10%, 80%);
	--bs-gray-250: hsl(220, 10%, 75%);
	--bs-gray-300: hsl(220, 10%, 70%);
	--bs-gray-350: hsl(220, 10%, 65%);
	--bs-gray-400: hsl(220, 10%, 60%);
	--bs-gray-450: hsl(220, 10%, 55%);
	--bs-gray-500: hsl(220, 10%, 50%);
	--bs-gray-550: hsl(220, 10%, 45%);
	--bs-gray-600: hsl(220, 10%, 40%);
	--bs-gray-650: hsl(220, 10%, 35%);
	--bs-gray-700: hsl(220, 10%, 30%);
	--bs-gray-750: hsl(220, 10%, 25%);
	--bs-gray-800: hsl(220, 10%, 20%);
	--bs-gray-850: hsl(220, 10%, 15%);
	--bs-gray-900: hsl(220, 10%, 10%);
	--bs-gray-950: hsl(220, 10%, 5%);
	--bs-primary: #ffdd00;
	--bs-secondary: #d8573f;
	--bs-success: hsl(125, 55%, 50%);
	--bs-info: hsl(220, 100%, 50%);
	--bs-warning: hsl(45, 95%, 50%);
	--bs-danger: hsl(0, 65%, 50%);
	--bs-light: hsl(220, 10%, 97%);
	--bs-dark: hsl(220, 10%, 87%);
	--bs-primary-rgb: 0, 85, 255;
	--bs-secondary-rgb: 249, 188, 6;
	--bs-success-rgb: 57, 198, 69;
	--bs-info-rgb: 0, 85, 255;
	--bs-warning-rgb: 249, 188, 6;
	--bs-danger-rgb: 210, 45, 45;
	--bs-light-rgb: 247, 247, 248;
	--bs-dark-rgb: 219, 221, 225;
	--bs-primary-text-emphasis: #002266;
	--bs-secondary-text-emphasis: #644b02;
	--bs-success-text-emphasis: #174f1c;
	--bs-info-text-emphasis: #002266;
	--bs-warning-text-emphasis: #644b02;
	--bs-danger-text-emphasis: #541212;
	--bs-light-text-emphasis: hsl(220, 10%, 35%);
	--bs-dark-text-emphasis: hsl(220, 10%, 35%);
	--bs-primary-bg-subtle: #ecf2ff;
	--bs-secondary-bg-subtle: #fffaec;
	--bs-success-bg-subtle: #f0fbf1;
	--bs-info-bg-subtle: #ecf2ff;
	--bs-warning-bg-subtle: #fffaec;
	--bs-danger-bg-subtle: #fcefef;
	--bs-light-bg-subtle: #fbfbfc;
	--bs-dark-bg-subtle: hsl(220, 10%, 75%);
	--bs-primary-border-subtle: #b3ccff;
	--bs-secondary-border-subtle: #fdebb4;
	--bs-success-border-subtle: #c4eec7;
	--bs-info-border-subtle: #b3ccff;
	--bs-warning-border-subtle: #fdebb4;
	--bs-danger-border-subtle: #f2c0c0;
	--bs-light-border-subtle: hsl(220, 10%, 92%);
	--bs-dark-border-subtle: hsl(220, 10%, 75%);
	--bs-white-rgb: 255, 255, 255;
	--bs-black-rgb: 0, 0, 0;
	--bs-font-sans-serif: "Inter", sans-serif;
	--bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
	--bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
	--bs-body-font-family: var(--bs-font-sans-serif);
	--bs-body-font-size: 0.875rem;
	--bs-body-font-weight: 380;
	--bs-body-line-height: 1.5;
	--bs-body-color: hsl(220, 10%, 15%);
	--bs-body-color-rgb: 34, 37, 42;
	--bs-body-bg: hsl(220, 10%, 100%);
	--bs-body-bg-rgb: 255, 255, 255;
	--bs-emphasis-color: hsl(220, 10%, 0%);
	--bs-emphasis-color-rgb: 0, 0, 0;
	--bs-secondary-color: hsl(220, 10%, 45%);
	--bs-secondary-color-rgb: 103, 111, 126;
	--bs-secondary-bg: hsl(220, 10%, 87%);
	--bs-secondary-bg-rgb: 219, 221, 225;
	--bs-tertiary-color: hsl(220, 10%, 75%);
	--bs-tertiary-color-rgb: 185, 189, 198;
	--bs-tertiary-bg: hsl(220, 10%, 97%);
	--bs-tertiary-bg-rgb: 247, 247, 248;
	--bs-heading-color: inherit;
	--bs-link-color: hsl(220, 100%, 50%);
	--bs-link-color-rgb: 0, 85, 255;
	--bs-link-decoration: none;
	--bs-link-hover-color: #0044cc;
	--bs-link-hover-color-rgb: 0, 68, 204;
	--bs-code-color: hsl(220, 100%, 50%);
	--bs-highlight-color: hsl(220, 10%, 15%);
	--bs-highlight-bg: #fef2cd;
	--bs-border-width: 1px;
	--bs-border-style: solid;
	--bs-border-color: hsl(220, 10%, 92%);
	--bs-border-color-translucent: rgba(0, 0, 0, 0.05);
	--bs-border-radius: 0.5rem;
	--bs-border-radius-sm: 0.25rem;
	--bs-border-radius-lg: 0.75rem;
	--bs-border-radius-xl: 1rem;
	--bs-border-radius-xxl: 2rem;
	--bs-border-radius-2xl: var(--bs-border-radius-xxl);
	--bs-border-radius-pill: 50rem;
	--bs-box-shadow: 0 0.15rem 0.75rem rgba(0, 0, 0, 0.2);
	--bs-box-shadow-sm: 0 0.075rem 0.375rem rgba(0, 0, 0, 0.15);
	--bs-box-shadow-lg: 0 0.3rem 1.5rem rgba(0, 0, 0, 0.25);
	--bs-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075);
	--bs-focus-ring-width: 0.25rem;
	--bs-focus-ring-opacity: 0.15;
	--bs-focus-ring-color: rgba(0, 85, 255, 0.15);
	--bs-form-valid-color: hsl(125, 55%, 50%);
	--bs-form-valid-border-color: hsl(125, 55%, 50%);
	--bs-form-invalid-color: hsl(0, 65%, 50%);
	--bs-form-invalid-border-color: hsl(0, 65%, 50%)
}
@body-color:#ffffff;
@body-accent-color:#faf8f0;
@primary-color:#ffdd00;
@secondary-color:#d8573f;
@tertiary-color:#51cbff;
@color-light:#ffffff;
@light-background:#faf8f0;
@dark-background:#222222;
// typography color
@body-font-color:#222222;
@heading-color:#222222;
@sub-heading-color:#717171;
@hightlight-font-color:#d8573f;
@dark-font-color:#000000;
@light-font-color:#ffffff;

