// theme variables
:root{
	--body-color:#ffffff;
	--body-accent-color:#f7f7f7;
	--primary-color:#ffffff;
	--secondary-color:#0e0e0e;

	--tertiary-color:#636363;
	--color-light:#ffffff;
	--light-background:#faf8f0;
	--dark-background:#222222;
	// accent color
	--aceent1-color:#0e0e0e;
	--aceent2-color:#d4d4d4;
	--aceent3-color:#d4d4d4;
	--aceent4-color:#c1c1c1;
	--aceent5-color:#f7f7f7;
	--aceent6-color:#f9f9f9;
	--aceent7-color:#b5b5b5;
	--aceent0-color:#f9cc0b;
	// typography color
	--body-font-color:#333333;
	--dark-border-color:#333333;
	--heading-color:#0e0e0e;
	--sub-heading-color:#717171;
	--hightlight-font-color:#d8573f;
	--dark-font-color:#0e0e0e;
	--light-font-color:#ffffff;
	--body-font:"Rubik", sans-serif;
	--heading-font:"Rubik", sans-serif;
	// button css 
	--button-primary-bg:#f9cc0b;
	--button-secondary-bg:#0c1d36;
	// typography fonts size
	--f1-font-size: 3.5rem;
	--f2-font-size: 2.4rem;
	--f3-font-size:1.75rem;
}