/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
    width: 100%;
    min-height: 90vh;
    position: relative;
    padding: 60px 0;
    display: flex;
    align-items: center;
}

.hero-wrapper {
    background: url(../assets/images/banner_right.png) no-repeat top right, url(../assets/images/banner_left.png) no-repeat center left;
    position: relative;
    overflow: hidden;
    background-color: var(--body-accent-color);
}

.hero-rating ul {
    padding: 0;
    margin: 0;
    display: flex;
    gap: 10px;
}

.hero-rating ul li {
    list-style: none;
    display: flex;
    align-items: center;
    color:var(--secondary-color);
}

.hero-rating svg path {
    fill: #ffc107;
    opacity: 1;
}

.gap-2 {
    gap: 20px;
}

.hero-text {
    max-width: 886px;
    margin: 0 auto;
    color: var(--secondary-color);
}

.hero-text iframe,
.hero-text img {
    width: 100%;
    max-width: 100%;
}

.hero h1 {
    margin: 0;
    font-size: 3.75rem;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 15px;
    color:var(--secondary-color);
}

.hero-text p {
    font-size: 20px;
}


section#hero .container {
    z-index: 222;
}

.hero .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}
.find-filter {
    position: relative;
    width: 350px;
}
.find-filter button{
    position: absolute;
    right: 0;
}
.find-filter input {
    min-height: 53px;
    padding: 10px 20px;
    min-width: 350px;
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid #ccc;
}
@keyframes up-down {
    0% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
    }
}


@media (min-width:320px) and (max-width:639px) {
    .images-cards {
        display: none;
    }

    .col-lg-4.text-center {
        text-align: left !important;
    }

    .hero h1 {
        font-size: 1.9rem;
        line-height: 39px;
    }

    .header .logo img {
        margin-left: 10px;
        max-width: 80%;
    }

    .hero {
        padding: 30px 0;
    }

    .hero-text p br {
        display: none;
    }

    .hero-text {
        max-width: 500px;
    }

    .hero-text p {
        font-size: 14px;
    }

    section#hero:before {
        height: 330px;
    }

    section#hero:after {
        height: 42vh;
    }


    .btn-common {
        min-height: 42px;
        min-width: 124px;
        background: #FFDD00;
        text-align: center;
        justify-content: center;
        font-size: 14px;
        margin: 0 !important;
    }

    #header .container-fluid .navigation {
        width: 40px;
    }

    header#header .container-fluid {
        justify-content: start !important;
    }

    #header .container-fluid .header-right {
        width: 58%;
    }

    .col-lg-4.text-center {
        text-align: left !important;
    }

}


/*--------------------------------------------------------------
# Hero Section End
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Client Logo Section Start
--------------------------------------------------------------*/

#client-logos {
    padding: 2rem 0rem;
    filter: grayscale(1);
}

#about-block {
    & .container{
        & .row{
            & .about-image {
                padding-right: 5%;
            & .about-box-image{
                min-height: 400px;
                object-fit: cover;
                overflow: hidden;
                & img{
                    height: 100%;
                    object-fit: cover;
                    border-radius: 20px;
                }
                }
            }
            & .about-content {
                & .about-inner{
                border: 1px solid #f7f7f7;
                border-radius: 25px;
                padding: 35px;
                background-color: var(--body-accent-color);
                & h2{
                    margin-bottom: 30px;
                }
                & ul{
                    & li{
                        padding-left: 50px;
                        padding-bottom: 15px;
                        & p{
                            position: relative;
                        &:before{
                            content: '';
                            position: absolute;
                            width: 30px;
                            height: 30px;
                            background: url(../assets/images/check_ic.svg) no-repeat;
                            background-size: 26px;
                            left: -48px;
                        }
                    }
                    }
                }
            }
            }
        } 
    }
}
/*--------------------------------------------------------------
# Why PTP Section Start
--------------------------------------------------------------*/
#why-section {
    .container{
        & .section-title{
            & h2 {
                font-weight: 800;
                span{
                    color: var(--aceent0-color);
                }
            }
        }
        & .row {
            & .why-block-grid {
                & .box-item {
                    background: var(--aceent6-color);
                    padding: 30px;
                    border-radius: 20px;
                    & .box-header{
                        display: flex;
                        align-items: center;
                        gap: 20px;
                        & .box-icon {
                            width: 100px;
                            height: 100px;
                            background: var(--primary-color);
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-radius: 50%;
                            transition: 0.5s all ease-in-out;
                            box-shadow: -5px -3px 0px var(--aceent0-color);
                            &:hover {
                                background: var(--secondary-color);
                                transition: 0.5s all ease;
                                box-shadow: -5px -3px 0px var(--primary-color);
                                & svg {
                                    & path {
                                        stroke: var(--primary-color);
                                    }
                                }
                            }
                             svg{
                                width: 65px;
                            }
                        }
                    }
                    ul {
                        min-height: 90px;
                        li {
                            padding-left: 30px;
                            padding-bottom: 5px;
                            display: inline-block;
                            p{
                                position: relative;
                                    &:before {
                                        content: '';
                                        position: absolute;
                                        width: 22px;
                                        height: 22px;
                                        background: url(../assets/images/check_ic.svg) no-repeat;
                                        background-size: 22px;
                                        left: -30px;
                                    
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/*--------------------------------------------------------------
# Our Coach Section Start
--------------------------------------------------------------*/



/*--------------------------------------------------------------
# Top Profile Coaches Section Start
--------------------------------------------------------------*/
section#coach-tab-section{
    background-color: var(--aceent5-color);
    & .tab-coach-main {
        & .coaches-filter {
            li {
                display: inline-block;
                &.active {
                    a{
                        background: var(--secondary-color);
                        color: var(--primary-color);
                        border-color:var(--secondary-color) ;
                    }
                }
                a {
                        padding: 0.3rem 0.8rem;
                        background: var(--primary-color);
                        border-radius: 25px;
                        border: 1px solid var(--aceent4-color);
                        margin-right: 5px;
                        transition: 0.3s all ease-in-out;
                    &:hover {
                        color: var(--primary-color);
                        background: var(--secondary-color);
                        text-decoration: none;
                        border-color:var(--secondary-color) ;
                        transition: 0.3s all ease-in-out;
                   } 
                }
                }
            }
                & .coach-main {
                    & .coach-grid{
                        border: 1px solid var(--aceent4-color);
                        padding: 18px;
                        border-radius: 15px;
                        background-color: var(--primary-color);
                        margin-bottom: 30px;
                        & .coach-image{
                                min-height: 192px;
                            img {
                                border-radius: 15px;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                    & .coach-content {
                            h4 {
                                margin-bottom: 0;
                            }
                            & .rating-block {
                                span {
                                    i {
                                        color: var(--aceent0-color);
                                    }
                                }
                            }
                            & .coach-feature{
                                ul {
                                    li {
                                        display: inline-block;
                                        padding:5px;
                                        color: var(--sub-heading-color);
                                        i {
                                            margin-right: 5px;
                                            color: var(--secondary-color);
                                        }
                                        &:first-child{
                                            padding:0;
                                        }
                                    }
                                }
                            }
                        a {
                            font-weight: 600;
                        }
                    }
                    & .coach-footer {
                        & .coach-footer-inner {
                            padding-top: 15px;
                            border-top: 1px solid var(--aceent3-color);
                            margin-top: 10px;
                            h5 {
                                margin-bottom: 0;
                                span {
                                    color: var(--aceent0-color);
                                }
                            }
                            button {
                                i {
                                    font-size: 26px;
                                    line-height: 0;
                                    position: relative;
                                    top: 5px;                                
                                }
                                &:last-child:hover {
                                    background-color: var(--aceent0-color);
                                    border-color: var(--aceent0-color);
                                    i {
                                        color: var(--primary-color);
                                    }
                                }
                            }
                        }
                        }
                    }
                    & .view-more {
                        button {
                            background-color: var(--aceent0-color);
                            border-color: var(--aceent0-color);
                            color: var(--primary-color);
                        }
                    }
                }
    }
}

/*--------------------------------------------------------------
# Our Coach find Section Start
--------------------------------------------------------------*/
section#coach-find-area {
    & .coach-find-main {
        & .coach-find-content {
            & .coach-find-box {
                & .coach-find-item{
                    padding: 30px 15px;
                    background: var(--aceent5-color);
                    border-radius: 15px;
                    margin-bottom: 30px;
                    cursor: pointer;
                    transition: 0.3s all ease-in-out;
                    &:hover {
                        background: var(--aceent4-color);
                        transition: 0.3s all ease-in-out;
                    }
                    h5 {
                        font-size: 18px;
                        font-weight: 600;
                    }
                    span {
                        font-size: 13px;
                        i{
                            margin-right: 5px;
                            color: var(--aceent0-color);
                        }
                    }
                    div {
                        justify-content: space-between;
                    }
                }
            }
        }
    }
}

/*--------------------------------------------------------------
# Secure Section Start
--------------------------------------------------------------*/
#steps-area {
    & .steps-main {
        & .steps-content {
            & .steps-content-inner {
                padding: 40px;
                border-radius: 25px;
                background: var(--secondary-color);
                h1 {
                    font-weight: 600;
                    color: var(--primary-color);
                    span {
                        color: var(--aceent0-color);
                    }
                }
                & .step-list {
                    ul {
                        li {
                            margin-bottom: 30px;
                    & .step-item {
                        background: #222;
                        padding: 20px;
                        border-radius: 20px;
                    i{
                        font-size: 28px;
                        position: relative;
                        top: 10px;
                        margin-right: 20px;
                        color:var(--primary-color);
                    }
                    & .s-list-content {
                       
                        h2 {
                            font-weight: 500;
                            font-size: 32px;
                            color: var(--primary-color);
                        }
                        p {
                            margin-bottom: 0;
                            color: var(--primary-color);
                        }
                    }
                    }
                }
                }
                }
            }
            & .steps-image {
                height: 100%;
                img {
                    height: 100%;
                    object-fit: cover;
                    border-radius: 20px;
                }
            }
        }
    }
}

/*--------------------------------------------------------------
# footer Section Start
--------------------------------------------------------------*/

footer {
    .footer-cta {
        max-width: 980px;
        margin: 0 auto;
        background-color: var(--secondary-color);
        border-radius: 25px;
        overflow: hidden;
        padding: 0 1.25rem 0 1.25rem;
        position: relative;
        top: 8rem;
        & .cta-content {
        h2{
            color: var(--primary-color);
        }
        p {
            color: var(--primary-color);
        }
        & .view-more {
            button {
                background-color: var(--aceent0-color);
                border-color: var(--aceent0-color);
                color: var(--primary-color);
            }
        }
        }
        img {
            position: relative;
            top: 20px;
        }
    }
    section#footer {
        background-color: var(--aceent5-color);
        padding-top: 14rem;
        & .about-widget {
            padding-right: 50px;
            img {
                max-width: 195px;
            }
            p {
                margin-top: 20px;
            }
        }
        & .link-widget {
            ul {
                li {
                    a {
                        padding: 6px 0px;
                        display: inline-block;
                    }
                }
            }
        }
        & .social-widget {
            ul {
                li {
                    display: inline-block;
                    a {
                        margin-right: 10px;
                        i {
                            font-size: 35px;
                        }
                    }
                }
            }
        }
    }
    .copyright-area {
        background-color: var(--primary-color);
        p {
            margin-bottom: 0;
            padding: 30px 0px;
            font-size: 14px;
        }
    }
}



