/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
    width: 100%;
    min-height: 90vh;
    position: relative;
    padding: 60px 0;
    display: flex;
    align-items: center;
}

.hero-wrapper:after {
    content: 'PTP';
    font-size: 48vw;
    font-weight: 800;
    position: absolute;
    color: rgb(248 204 11);
    top: 50%;
    z-index: 0;
    transform: translate(-50%, -50%);
    left: 49%;
    overflow: hidden;
    width: 100%;
    opacity: 0.1;
}

.hero-wrapper {
    background: url(../assets/images/hero/hero_bg.jpg);
    background-size: cover;
    background-position: center center;
    position: relative;
    overflow: hidden;
}

.hero-rating ul {
    padding: 0;
    margin: 0;
    display: flex;
    gap: 10px;
}

.hero-rating ul li {
    list-style: none;
    display: flex;
    align-items: center;
    color: #fff;
}

.hero-rating svg path {
    fill: #ffc107;
    opacity: 1;
}

.gap-2 {
    gap: 20px;
}

.hero-text {
    max-width: 886px;
    margin: 0 auto;
    color: #fff
}

.hero-text iframe,
.hero-text img {
    width: 100%;
    max-width: 100%;
}

.hero h1 {
    margin: 0;
    font-size: 5.5rem;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 15px;
    color: #fff;
}

.hero-text p {
    font-size: 20px;
}


section#hero .container {
    z-index: 222;
}

.hero .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@keyframes up-down {
    0% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
    }
}


@media (min-width:320px) and (max-width:639px) {
    .images-cards {
        display: none;
    }

    .col-lg-4.text-center {
        text-align: left !important;
    }

    .hero h1 {
        font-size: 1.9rem;
        line-height: 39px;
    }

    .header .logo img {
        margin-left: 10px;
        max-width: 80%;
    }

    .hero {
        padding: 30px 0;
    }

    .hero-text p br {
        display: none;
    }

    .hero-text {
        max-width: 500px;
    }

    .hero-text p {
        font-size: 14px;
    }

    section#hero:before {
        height: 330px;
    }

    section#hero:after {
        height: 42vh;
    }


    .btn-common {
        min-height: 42px;
        min-width: 124px;
        background: #FFDD00;
        text-align: center;
        justify-content: center;
        font-size: 14px;
        margin: 0 !important;
    }

    #header .container-fluid .navigation {
        width: 40px;
    }

    header#header .container-fluid {
        justify-content: start !important;
    }

    #header .container-fluid .header-right {
        width: 58%;
    }

    .col-lg-4.text-center {
        text-align: left !important;
    }

}

@media (min-width:768px) {
    .images-cards img {
        max-width: 110px;
        width: 100%;
    }

    .hero h1 {
        font-size: 2.8rem;
        line-height: 55px;
        color: #fff;
    }

    .hero-text {
        max-width: 500px;
    }

    .hero-text p {
        font-size: 16px;
        font-weight: 500;
    }

    .video-js {
        height: 300px;
    }

    section#hero:before {
        height: 429px;
    }

    section#hero:after {
        height: 62vh;
    }
}

@media (min-width:640px) and (max-width:767px) {
    .images-cards img {
        max-width: 110px;
        width: 100%;
    }

    .hero h1 {
        font-size: 2.8rem;
        line-height: 55px;
    }

    .hero-text {
        max-width: 500px;
    }

    .hero-text p {
        font-size: 16px;
    }

    section#hero:before {
        height: 429px;
    }

    section#hero:after {
        height: 58vh;
    }
}

@media (min-width:990px) {
    .images-cards img {
        max-width: 150px;
        width: 100%;
    }

    .hero h1 {
        font-size: 3.5rem;
        line-height: 63px;
        color: #fff;
    }

    .hero-text {
        max-width: 680px;
    }
}

@media (max-width:990px) {

    .navmenu a:hover,
    .navmenu .active,
    .navmenu .active:focus,
    .navmenu a,
    .navmenu a:focus {
        color: #fff;
    }
}

@media (min-width:1400px) {
    .images-cards img {
        max-width: 210px;
        width: 100%;
    }
}

/*--------------------------------------------------------------
# Hero Section End
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Client Logo Section Start
--------------------------------------------------------------*/

#client-logos {
    padding: 2rem 0rem;
    filter: grayscale(1);
}





#about-block {
    & .container{
        & .row{
            & .about-image {
            & .about-box-image{
                min-height: 400px;
                object-fit: cover;
                overflow: hidden;
                    padding-right: 5%;
                &:last-child{
                    position:relative;
                    top: 60px;
                }
                & img{
                    height: 100%;
                    object-fit: cover;
                    border-radius: 20px;
                }
                }
            }
            & .about-content {
                & .about-inner{
                border: 1px solid #f7f7f7;
                border-radius: 25px;
                padding: 35px;
                & h2{
                    margin-bottom: 30px;
                }
                & ul{
                    & li{
                        padding-left: 50px;
                        padding-bottom: 15px;
                        & p{
                            position: relative;
                        &:before{
                            content: '';
                            position: absolute;
                            width: 30px;
                            height: 30px;
                            background: url(../assets/images/check_ic.svg) no-repeat;
                            background-size: 26px;
                            left: -48px;
                        }
                    }
                    }
                }
            }
            }
        } 
    }
}
/*--------------------------------------------------------------
# Why PTP Section Start
--------------------------------------------------------------*/
#why-section {
    .container{
        & .section-title{
            & h2 {
                font-weight: 800;
                span{
                    color: var(--primary-color);
                }
            }
        }
        & .why-box {
            & h3 {
                font-weight: 800;
            }
        }
    }
    
}
