/*--------------------------------------------------------------
# footer Section Start
--------------------------------------------------------------*/

footer {
    .footer-cta {
        max-width: 980px;
        margin: 0 auto;
        background-color: var(--primary-color);
        border-radius: 25px;
        overflow: hidden;
        padding: 0 1.25rem 0 1.25rem;
        position: relative;
        top: 8rem;
        & .cta-content {
        h2{
            color: var(--dark-font-color);
        }
        p {
            color: var(--dark-font-color);
        }
        & .view-more {
            button {
                background: var(--aceent0-color);
                color: var(--dark-font-color);
                border: 2px solid var(--aceent0-color);
                &:hover {
                    background-color: var(--secondary-color);
                    border-color: var(--secondary-color);
                    color: var(--light-font-color);
                }
            }
        }
        }
        img {
            position: relative;
            top: 20px;
        }
    }
    section#footer {
        background-color: var(--secondary-color);
        padding-top: 14rem;
        & .about-widget {
            padding-right: 50px;
            img {
                max-width: 195px;
            }
            p {
                margin-top: 20px;
                color: var(--light-font-color);
            }
        }
        & .link-widget {
            ul {
                li {
                    a {
                        padding: 6px 0px;
                        display: inline-block;
                        color: var(--light-font-color);
                    }
                }
            }
        }
        & .social-widget {
            ul {
                li {
                    display: inline-block;
                    a {
                        margin-right: 10px;
                        color: var(--light-font-color);
                        i {
                            font-size: 35px;
                            color: var(--light-font-color);
                        }
                    }
                }
            }
        }
    }
    .copyright-area {
        background-color: var(--body-bg);
        p {
            margin-bottom: 0;
            padding: 30px 0px;
            font-size: 14px;
            color: var(--light-font-color);
        }
    }
}